extends layout

block content

    // Page Content
    .container
      .social.row
        .col-lg-12.text-center
          h1.blue FIT Content Management System
          h3
            | Metadata manager
            | mapper, tagger tool
          h3
            | Project description here
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
